/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "./var";

@include mat-core();
@include angular-material-theme($dynamic-app-theme);
@include angular-material-typography($dynamic-typography);

.color-primary {
  background-color: mat-color(mat-palette($dynamic-theme-primary));
}

.color-accent {
  background-color: mat-color(mat-palette($dynamic-theme-accent));
}
