<div
  class="container"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="start"
  fxLayoutGap="2em"
  *ngIf="auth.user$ | async as user"
>
  <div fxLayout="column" fxLayoutGap="2em">
    <mat-card class="example-card">
      <mat-card-header>
        <div class="example-header-image"></div>
        <img mat-card-avatar src="{{ user.picture }}" alt="" />
        <mat-card-title>Profile</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Email"
              [value]="user.name"
            />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent">Update</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Preferences</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
